*{
    margin: 0px;
    padding: 0px;
}
html{
    min-height: 100%;
    position: relative;
}
body{
    padding: 0px;
    margin: 0px;
}
/* .navbar a.active {
    border-bottom: 2px solid white;
} */
.contenedor-elementos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar-brand img{
    width: 135px;
}
.navbar{
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(251,141,240,1) 92%);
    font-weight: 700;
}
#images{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#images img{

    width: 150px;   
}
#micuenta.contenedor-elementos{
    display: flex;
    justify-content:flex-start
}
#tablapedidos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
   
}
.contenedor-form{
    margin: 25px auto;
    display: flex;
    flex-direction: column;
}

.contenedor-botones button{
    width: 90px;
    height: 35px;
}
#nuevopedido.contenedor-elementos{
    display: flex;
    justify-content:flex-start
}
.formulario{
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
}
select{
    width: 250px;
}

#site-pedidos.contenedor-elementos{
    display: flex;
    justify-content: flex-start;
    text-align: left;
}
.tablapedidos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px auto;
}
.tablapedidos table{
    text-align: left;
}
.tablapedidos td{
    margin: 20px;
}
.carrito{
    width: 200px;
    margin: 20px auto;
    background-color: rgb(228, 228, 228);
    border: solid 2px ;

}
table{
    border: 1px solid gray;
}
td{
    text-align: left;
    border: 1px solid gray;
    padding: 5px;

}
.tablapagos{
    width: 467px;
    margin: 27px auto;
    border: solid 2px ;
    border-color: black;
    padding: 5px;
    
  
}
#nuevopedido.contenedor-elementos{
    display: flex;
    justify-content: flex-start;
    text-align: left;
}
main{
    margin:20px 40px 50px;
    padding: 20px 0 70px;
}
.categoria-pedidos{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px auto;
}
.logo{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 50px auto;
    
}
.main-miCuenta{
display: flex;
flex-direction: row;
justify-content: space-between;

}
.mensajeSuscripcion{
    width: 300px;
    font-size: 20px;
    padding: 15px;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    border-radius: 8px;

    
   }
.mensajeSuscripcion .text1-aside{
    font-size: 20px;
    color: rgb(6, 6, 137);
}
.mensajeSuscripcion .text2-aside{
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    color: white ;
    -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
}
.mensajeSuscripcion .text3-aside{
    font-size: 20px;
    color: rgb(6, 6, 137);
}
.mainPedidos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contenedorDestacados{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.footer{
   position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0;
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(251,141,240,1) 92%);
    margin: 25px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 700;
    color: black;
}
.footer a{ 
    color: white;
    font-weight: 500;
    text-decoration: none;
}
.form-control{
    width: 400px;
    height: auto;
    
    
}
.botones{
    margin-top: 10px;
    padding: 10px;
}
.botones :nth-child(1):hover{
    transform: scale(1.2);
    
}
.botones :nth-child(2):hover{
    transform: scale(1.2);
}

.tablapedidos{
    margin: 0 40px;
    display: grid;
    grid-template-columns: 555px;
    grid-template-rows: 65px;
}
.tablapedidos td{
    border: 1px solid lightgrey;
    padding: 15px;
}
.paginacion {
	margin:20px 0;
}

.paginacion ul {
	list-style:none;
	text-align: center;
}

.paginacion ul li {
	display:inline-block;
	margin-right:10px;
}

.paginacion ul li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	background:#04b1c5;
	text-decoration: none;
}

.paginacion ul li a:hover {
	background:#4286cb;
}

.paginacion ul li .active {
	background:#8EC5FC;
	font-weight:bold;
}