.formulario{
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
}
.form-control{
    width: 400px;
    height: auto;
}
.form{
    width: 400px;
}
@media screen and (max-width:768px){
    .form{
        width: 300px;
    }
    .form-control{
        width: 300px;
    }
}
