main{
    margin:20px 40px 50px;
    padding: 20px 0 70px;
}
.main-miCuenta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

.main-nuevo-pedido{
    display: flex;
    flex-direction: column;
    align-items: center;
}

